<section>
  <div class="container h-100">
    <div class="justify-content-center">
      <table class="table table-borderless ">
        <tbody>
          <tr>
            <td>
              <div class="row mb-3  justify-content-center align-items-center "
                style="position: relative; border-radius: 20px; border: 1px solid grey; height: 200px; width: 80%; margin-top: 50px; margin-left: 50px;">
                <div class="col-2 h-100" style="border-right: 1px solid grey; display: flex;
              justify-content: center;
              flex-direction: column;
              height: 400px;"></div>
                <div class="col-8 h-100" style="display: flex;
              justify-content: center;
              flex-direction: column;">
                  <p>Wydarzenie</p>
                  <p>07.10.2021 11:00 (Poniedziałek)</p>
                  <p>Dr Anna Nowak</p>
                  <p><b>"Jak dbać o zdrowie psychiczne?"</b></p>
                  <p>Jak dbać o zdrowie psychiczne swoje oraz swoich ...</p>
                </div>
                <div class="col-2 h-100" style="display: flex;
              justify-content: center;
              flex-direction: column;
              height: 400px;"><button type="button" class="btn btn-primary"
                    routerLink="/event-detail">Szczegóły</button></div>

              </div>
            </td>
            <td style="max-width: 150px;">
              <div style="background-color: darkgrey ;
                padding: 10px ;
                height: 100px;
                margin-bottom: 20px;
                border: 1px solid grey ;">Kartka z kalendarza</div>

              <div style="background-color: darkgrey;
              padding: 10px ;
              height: 100px;
              border: 1px solid grey ;">reklama</div>
              <button type="button" class="btn btn-primary" routerLink="/event-detail"
                style="margin-top: 15px; background-color: green;">Zapisz się na psychoterapię</button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row mb-3  justify-content-center align-items-center "
                style="position: relative; border-radius: 20px; border: 1px solid grey; height: 200px; width: 80%; margin-top: 50px; margin-left: 50px;">
                <div class="col-2 h-100" style="border-right: 1px solid grey; display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"></div>
                <div class="col-8 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;">
                  <p>Wydarzenie</p>
                  <p>07.10.2021 11:00 (Poniedziałek)</p>
                  <p>Dr Anna Nowak</p>
                  <p><b>"Jak dbać o zdrowie psychiczne?"</b></p>
                  <p>Jak dbać o zdrowie psychiczne swoje oraz swoich ...</p>
                </div>
                <div class="col-2 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"><button type="button" class="btn btn-primary"
                    routerLink="/event-detail">Szczegóły</button></div>

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row mb-3  justify-content-center align-items-center "
                style="position: relative; border-radius: 20px; color: grey; border: 1px solid grey; height: 200px; width: 80%; margin-top: 50px; margin-left: 50px;">
                <div class="col-2 h-100" style="border-right: 1px solid grey; display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"></div>
                <div class="col-8 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;">
                  <p>Wydarzenie</p>
                  <p>07.10.2021 11:00 (Poniedziałek)</p>
                  <p>Dr Anna Nowak</p>
                  <p><b>"Jak dbać o zdrowie psychiczne?"</b></p>
                  <p>Jak dbać o zdrowie psychiczne swoje oraz swoich ...</p>
                </div>
                <div class="col-2 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"><button type="button" class="btn btn-light" routerLink="/event-detail">Zapisz
                    się</button></div>

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row mb-3  justify-content-center align-items-center "
                style="position: relative; border-radius: 20px; border: 1px solid grey; height: 200px; width: 80%; margin-top: 50px; margin-left: 50px;">
                <div class="col-2 h-100" style="border-right: 1px solid grey; display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"></div>
                <div class="col-8 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;">
                  <p>Wydarzenie</p>
                  <p>07.10.2021 11:00 (Poniedziałek)</p>
                  <p>Dr Anna Nowak</p>
                  <p><b>"Jak dbać o zdrowie psychiczne?"</b></p>
                  <p>Jak dbać o zdrowie psychiczne swoje oraz swoich ...</p>
                </div>
                <div class="col-2 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"><button type="button" class="btn btn-primary"
                    routerLink="/event-detail">Szczegóły</button></div>

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row mb-3  justify-content-center align-items-center "
                style="position: relative; border-radius: 20px; border: 1px solid grey; height: 200px; width: 80%; margin-top: 50px; margin-left: 50px;">
                <div class="col-2 h-100" style="border-right: 1px solid grey; display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"></div>
                <div class="col-8 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;">
                  <p>Wydarzenie</p>
                  <p>07.10.2021 11:00 (Poniedziałek)</p>
                  <p>Dr Anna Nowak</p>
                  <p><b>"Jak dbać o zdrowie psychiczne?"</b></p>
                  <p>Jak dbać o zdrowie psychiczne swoje oraz swoich ...</p>
                </div>
                <div class="col-2 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"><button type="button" class="btn btn-primary"
                    routerLink="/event-detail">Szczegóły</button></div>

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="row mb-3  justify-content-center align-items-center "
                style="position: relative; border-radius: 20px; border: 1px solid grey; height: 200px; width: 80%; margin-top: 50px; margin-left: 50px;">
                <div class="col-2 h-100" style="border-right: 1px solid grey; display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"></div>
                <div class="col-8 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;">
                  <p>Wydarzenie</p>
                  <p>07.10.2021 11:00 (Poniedziałek)</p>
                  <p>Dr Anna Nowak</p>
                  <p><b>"Jak dbać o zdrowie psychiczne?"</b></p>
                  <p>Jak dbać o zdrowie psychiczne swoje oraz swoich ...</p>
                </div>
                <div class="col-2 h-100" style="display: flex;
                justify-content: center;
                flex-direction: column;
                height: 400px;"><button type="button" class="btn btn-primary"
                    routerLink="/event-detail">Szczegóły</button></div>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>