<section class="about-us-section">
  <div class="title">
    <h2 class="text-center">Zespół:</h2>
  </div>

  <div class="person">
    <div class="image-div">
      <img class="personImage" src="../../../../../assets/images/people/ada_jakimowicz_edit.jpeg" alt="graphic" />
    </div>
    <div class="text-div">
      <h2>Ada Jakimowicz</h2>
      <p>
        Psycholog, psychoterapeutka (poznawczo- behawioralna z dialogiem
        motywacyjnym oraz III fala), trenerka biznesu i trenerka personalna.
      </p>
      <p>
        Posiada prawie 10 letnie doświadczenie przy pracy z ludzkimi emocjami,
        przekonaniami oraz możliwościami ich ciała, w swojej pracy stawia na
        holistyczne podejście do pacjenta. Współpracuje również z firmami
        szerząc psychoedukację oraz tworzy warsztaty rozwojowe oraz wzmacniające
        świadomość emocjonalną. Doświadczenie nabierała w wielu placówkach
        oświatowych, gabinetach psychoterapeutycznych oraz we własnej praktyce.
      </p>
      <p>
        Pracuje terapeutycznie w nurcie poznawczo-behawioralnym TPB z dialogiem
        motywującym DM z osobami dorosłymi oraz młodzieżą, którzy poszukują
        pomocy podczas zmiany, która ma na celu przynieść im to czego
        potrzebują. Wspiera w odnajdywaniu własnej drogi do szczęścia, radząc
        sobie z trudnościami na tle przekonań, myśli oraz zachowań.
      </p>
    </div>
  </div>
  <div class="additional-text">
    <div class="additional-text-left">
      <h2>Pomaga z takimi trudnościami, jak:</h2>
      <ul>
        <li>
          <a> niskie poczucie własnej wartości </a>
        </li>
        <li>
          <a> zaburzenia nastroju – depresja, obniżony nastrój</a>
        </li>
        <li>
          <a>stany lękowe</a>
        </li>
        <li>
          <a>trudności komunikacyjne</a>
        </li>
        <li>
          <a>trudności w nawiązywaniu i utrzymaniu relacji</a>
        </li>
        <li>
          <a>nadmierny stres</a>
        </li>
        <li>
          <a>terapia par</a>
        </li>
        <li>
          <a>zaburzenia odżywiania</a>
        </li>
        <li>
          <a>kryzys emocjonalny</a>
        </li>
      </ul>
      <div class="text-div">
        <p>
          Relacja terapeuta i pacjent, to relacja, która dzięki obopólnym
          zaangażowaniu oraz ogromnej wiedzy o sobie pacjenta i narzędziom
          adekwatnym do potrzeb pacjenta jest pracą nad odczuwaniem, nazywaniem i
          zmienianiem swoich mechanizmów. Terapeuta staje się świadkiem
          wydobywania potencjału i prawdziwych uczuć oraz przekonań pacjenta.
        </p>
      </div>
    </div>

    <div class="additional-text-right">
      <h2>Wykształcenie:</h2>
      <ul>
        <li>
          <a> Własna praktyka </a>
        </li>
        <li>
          <a> Uniwersytet Warszawski; Wydział Psychologii</a>
        </li>
        <li>
          <a>Akademia Motywacji i Edukacji; Psychoterapia poznawczo-behawioralna
            TPB z dialogiem motywującym DM</a>
        </li>
        <li>
          <a>Szkoły Trenerów Biznesu Akademii SET</a>
        </li>
        <li>
          <a>Szereg szkoleń psychoedukacyjnych i rozwojowych z CEROS- centrum
            rozwoju osobistego</a>
        </li>
        <li>
          <a>Terapia Schematów Instytut Psychoedukacji i Rozwoju Integralnego
            IPRI</a>
        </li>
        <li>
          <a>mgr Akademia Wychowania Fizycznego Józefa Piłsudskiego w Warszawie
            TiR</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="info">
    <h2>Umów się na wizytę:</h2>
    <p><strong><a href="tel:+48 605 994 708">+48 605 994 708</a></strong> lub <a
        href="mailto:gabinet@mintmint.pl">gabinet@mintmint.pl</a></p>
  </div>
</section>