<div class="forgot-password-container">
  <div class="page-title">
    Nie pamiętasz hasła?
  </div>
  
  <form *ngIf="!codeIsSent" [formGroup]="form" name="form" (submit)="reset()" class="form">
    <app-alert-message></app-alert-message>
    <p>Wprowadź swój adres e-mail lub numer telefonu, a my wyślemy Ci 4-cyfrowy kod, które umożliwi odzyskanie dostępu
      do konta.</p>
    <app-radio formControlName="loginType" [id]="'mail-radio'" [name]="'loginType'" [value]="'email'"
      [message]="'Adres e-mail'"></app-radio>
    <app-radio formControlName="loginType" [id]="'phone-radio'" [name]="'loginType'" [value]="'phoneNumber'"
      [message]="'Numer telefonu'"></app-radio>
    <div class="form-container">
      <app-input-text *ngIf="loginType === 'email'" formControlName="email" type="text" [placeholder]="'WPISZ E-MAIL'">
      </app-input-text>
      <app-input-text *ngIf="loginType === 'phoneNumber'" formControlName="phoneNumber" type="text"
        [placeholder]="'WPISZ NUMER TELEFONU'"></app-input-text>
      <div class="submit-button">
        <button type="submit" [disabled]="form.invalid || isSending" class="btn btn-primary mt-2">Wyślij</button>
      </div>
      <hr>
    </div>
  </form>

  <form *ngIf="codeIsSent" class="form" name="codeForm" [formGroup]="codeForm" (submit)="confirmCode()">
    <p>Kod został wysłany na podany e-mail/numer telefonu.</p>
    <button *ngIf="!codeIsSentAgain" type="button" class="btn btn-link" (click)="reset(true)">Wyślij ponownie
      kod</button>
    <div *ngIf="codeIsSentAgain" class="text-bold my-2">Kod został wysłany</div>
    <span></span>
    <app-alert-message></app-alert-message>
    <div class="form-container">
      <app-input-text class="code-input" formControlName="code" name="code" id="code" [placeholder]="'Wpisz kod'">
      </app-input-text>
      <div class="submit-buttons">
        <button *ngIf="codeIsSent" class="btn btn-link mt-2" routerLink="/auth/login">Powrót do logowania</button>
        <button type="submit" class="btn btn-primary" [disabled]="codeForm.invalid || isSending">Zatwierdź kod</button>
      </div>
      <hr>
    </div>
  </form>

  <div class="mt-5">
    <span class="me-2">NIE MASZ KONTA?</span>
    <a routerLink="/auth/register/form">ZAREJESTRUJ SIĘ</a>
  </div>
</div>