<div>
  <div class="header d-flex">
    <div>
      <a href="/">
        <img class="navbar-brand logo" src="../../../assets/images/mint_logo_cut.png" alt="logo" routerLink="/" />
      </a>
    </div>
    <div class="header__contact" style="right: 10px; top: 10px">
      <div id="navbarSupportedContent">
        <form class="
            phoneAndButton
            d-flex
            align-items-center
            justify-content-center
            fixed-right
          ">
          <p class="phonePar px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
            </svg>
            +48 577 804 146
          </p>
          <button mat-raised-button class="contactButton" name="logIn" (click)="btnClick();">
            Umów wizytę
          </button>
        </form>
      </div>
    </div>
  </div>

  <nav class="
    navbar navbar-expand-lg navbar-light
    navSection flex-column
  ">

  <div class="menu" id="navbarSupportedContent">
    <div class="col-1 wrapper">
      <button *ngIf="router.url != '/'" class="btn navButton" name="landingPage" routerLink="/">
        Strona główna
      </button>
      <button *ngIf="router.url === '/'" class="btn focusButton" routerLink="/">
        Strona główna
      </button>
    </div>
    <div class="col-1 wrapper">
      <button *ngIf="router.url != '/about-us'" class="btn navButton" name="about-us" routerLink="/about-us">
        O nas
      </button>
      <button *ngIf="router.url === '/about-us'" class="btn focusButton" routerLink="/about-us">
        O nas
      </button>
    </div>
    <div class="col-1 wrapper">
      <button *ngIf="router.url != '/about-psych'" class="btn navButton" name="aboutPsych" routerLink="/aboutPsych">
        O psychoterapii
      </button>
      <button *ngIf="router.url === '/about-psych'" class="btn focusButton" routerLink="/about-psych">
        O psychoterapii
      </button>
    </div>
    <div class="col-1 wrapper">
      <button *ngIf="router.url != '/priceList'" class="btn navButton" name="priceList" routerLink="/priceList">
        Cennik
      </button>
      <button *ngIf="router.url === '/priceList'" class="btn focusButton" routerLink="/priceList">
        Cennik
      </button>
    </div>
    <div class="col-1 wrapper">
      <button *ngIf="router.url != '/contact'" class="btn navButton" name="contact" routerLink="/contact">
        Kontakt
      </button>
      <button *ngIf="router.url === '/contact'" class="btn focusButton" routerLink="/contact">
        Kontakt
      </button>
    </div>
  </div>

  <div class='showbox' *ngIf="router.url === '/'">
    <img class="bcgImage" src="../../../assets/images/mint_baner_6.png" alt="bcgImage" />
  </div>
</nav>
</div>
