@import "../../../_theme/helpers/variables";

.chat-bubbles-view {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;

  .chat-bubbles-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .chat-actions {
      display: flex;
      align-items: center;
      flex-direction: column;
      pointer-events: visible;

      .chat-bubble-action {
        font-size: 1.5rem;
        color: $gray;
        transition: color 0.1s;
        margin: 0.5rem 0;
        cursor: pointer;

        &:hover {
          color: darken($gray, 10);
        }
      }

      .chat-icon-container,
      .chat-bubbles {
        padding: 0 2rem;
      }

      .chat-bubbles {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 20rem;
        overflow-y: auto;
        pointer-events: visible;
        padding: 0 2rem;

        &::-webkit-scrollbar {
          display: none;
        }

        scrollbar-width: none;

        .chat-bubble {
          padding: 0.5rem 0;
          user-select: none;
        }
      }

      .chat-icon-container {
        margin: 1rem 0;

        .chat-icon {
          position: relative;
          color: $gray;
          font-size: 3rem;
          transform: scaleX(-1);
          pointer-events: visible;
          cursor: pointer;

          &.active {
            color: $primary;
          }
        }

        .chat-icon-message-count {
          transform: scaleX(-1);
          font-family: Roboto, sans-serif;
          font-weight: normal;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 10px;
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          background-color: $red;
          border-radius: 50%;
        }
      }
    }

    .chat-view {
      pointer-events: visible;
      padding: 0;
      min-width: 30rem;
      max-height: 100vh;

      .chat-view-topbar {
        padding: 0.5rem;
        border: 1px solid $mint-700;
        border-bottom-color: transparent;
        background-color: $mint-200;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          margin: 0 0.5rem;
          cursor: pointer;
          color: $gray;

          &:hover {
            color: $primary;
          }
        }

        .recipient-status {
          min-width: 10px;
          min-height: 10px;
          background-color: $red;
          border-radius: 50%;

          &.active {
            background-color: $green-status;
          }
        }
      }

      .chat-view-small {
        ::ng-deep {
          .chat-view {
            display: block;
            min-height: auto;
            padding: 0.5rem;
          }

          .chat-response {
            padding: 0;
            ::ng-deep .input-div {
              box-shadow: none;
            }

            .emoticon-button-icon {
              margin: 0 0.5rem;
            }

            i {
              margin: 0 0.5rem;
            }

            .input-file {
              padding: 0;
              margin-bottom: 1rem;
            }
          }

          .chat-room-title {
            max-width: 30rem;

            .recipient {
              .recipient-nickname {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .chat-bubbles-container {
    visibility: hidden;

    .chat-icon-container {
      .chat-icon {
        visibility: hidden !important;
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  .chat-bubbles-view {
    display: none;
  }
}