<section class="about-us-section">
  <div class="title">
    <h1>Poznaj zespół</h1>
  </div>
  <div class="team">
    <div class="person side-panel">
      <div class="image-div"><img class="person-image" src="../../../../assets/images/people/dariusz_płaksa_edit.png"
          alt="dariusz płaksa photo" /></div>
      <div class="text-div">
        <h2>Dariusz Płaksa</h2>
        <p>
          Pomysłodawca MINT, Kierownik projektu - posiada wykształcenie
          humanistyczne, mgr filozofii UW, ponad 21 letnie doświadczenie
          zawodowe.
        </p>
        <p>
          Przygotowywanie prognoz sprzedażowych, szkolenia m.in. z zakresu
          profili psychologicznych, budowanie długoterminowych relacji.
          Współpraca managerska z topowymi dostawcami IT, zdolności
          przywódcze, empatia, umiejętność współpracy w zespole,
          motywowanie, negocjacje handlowe, wdrażanie założeń budżetowych.
          Cechuje go także myślenie strategiczne oraz optymistyczne
          podejście do zleconych zadań. W projekcie Mint odpowiedzialny za
          zespół i jego motywację oraz wyznaczanie strategii działania
          nowego portalu i aplikacji skierowanej dla osób 50+.
        </p>
        <div class="linkedin-icon">
          <a href="https://www.linkedin.com/in/dariusz-plaksa/"><img
              src="../../../../assets/sm-logo/linkedin-brands.svg" alt="linkedin logo"></a>
        </div>
      </div>
    </div>
    <div class="person middle-panel">
      <div class="image-div"><img class="person-image"
          src="../../../../assets/images/people/milena_filippowicz_edit.png" alt="milena filippowicz photo" /></div>
      <div class="text-div">
        <h2>Milena Filippowicz</h2>
        <p>
          Współtwórca MINT, psycholog oraz psychoterapeutka
          poznawczo-behawioralna.
        </p>
        <p>
          Posiada ponad 10 letnie doświadczenie w pracy na stanowisku
          psychologa w rożnego rodzaju instytucjach państwowych oraz
          ośrodkach i szpitalach psychiatrycznych. Od kilku lat zajmuje
          się także prowadzeniem psychoterapii oraz
          grupowych warsztatów rozwojowych.
        </p>
        <p class="mt-4 ">
          Pracuje terapeutycznie w nurcie CBT z osobami dorosłymi oraz
          młodzieżą, którzy doświadczają trudności w różnych aspektach
          swojego życia. Pomaga uporać się z problemami w relacjach z
          innymi ludźmi, a także poradzić sobie z takimi trudnościami.
        </p>
      </div>
    </div>
    <div class="person side-panel">
      <div class="image-div"><img class="person-image"
          src="../../../../assets/images/people/ania_mazurek_edit.jpg" alt="anna mazurek photo" /></div>
      <div class="text-div">
        <h2>Anna Mazurek</h2>
        <p>
          W zespole MINT odpowiedzialna za rozwój portalu, publikacje i tworzenie 
          artykułów oraz podcastów. Wierzy, że aktywność oraz stały rozwój 
          są podstawą dobrego samopoczucia i życia w zgodzie z samym sobą. 
          Właśnie to będzie się starała przekazać wszystkim uczestnikom 
          społeczności MINT.
        </p>
        <p>
          Z wykształcenia marketingowiec, z zamiłowania wokalistka. 
          Od kilkunastu lat solistka w jednym z największych gospelowych 
          chórów w Polsce. Kilkunastoletnie doświadczenie, zdobyte 
          w międzynarodowych korporacjach, pozwoliło jej na rozpoczęcie 
          działalności jako managerki artystycznej. Z kolei serce społeczniczki 
          skierowało do organizacji pozarządowych, gdzie od wielu lat koordynuje 
          pracę biura i realizację przeróżnych projektów. Prywatnie wielka 
          entuzjastka aktywnego spędzania czasu: narty, żagle, jazda konna 
          - tak odpoczywa i ładuje akumulatory. 
        </p>
      </div>
    </div>
  </div>
  <button *ngIf="!router.url.includes('mobile/about-us')" mat-raised-button class="btn btn-link-add" name="logIn" routerLink="/landing-page/contact">
    Umów się na terapię
  </button>
</section>