<section class="home-section">
  <div class="baner-div">
    <picture class='showbox w-100'>
      <source media="(min-width:968px)" srcset="../../../../assets/images/mint_baner_6.png">
      <source media="(min-width:465px)" srcset="../../../../assets/images/mint_baner_6_mid.png">
      <img class='showbox w-100' src="../../../assets/images/mint_baner_6_mid.png" alt="Flowers">
    </picture>
  </div>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-9 text-center info">
          <p class="mb-5">
            <b>Centrum psychoterapii MINT</b> oferuje psychoterapię, szkolenia i
            warsztaty bazując na skutecznych i przebadanych metodach z nurtu
            psychoterapii poznawczo - behawioralnej.
          </p>
          <p class="mb-5">
            Pomagamy osobom doświadczającym trudności w codziennym życiu,
            wzmacniamy ich poczucie własnej wartości oraz rozwijamy posiadane
            umiejętności mające na celu <b>podniesienie jakości życia</b>.
          </p>
          <p class="mb-5">
            Oferujemy psychoterapię i pomoc w zmianach oraz trudnych chwilach, przez które
            wspólnie przechodzimy.
            MINT to Motywacja, Inspiracja, Natchnienie i Terapia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>