<section class="price-list">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-9">
        <table class="table table-borderless">
          <tbody>
            <tr class="row">
              <td class="col-10">
                <h2>Konsultacja psychologiczna - pierwsze spotkanie</h2>
                <ul>
                  <li>
                    <a>
                      <p>
                        Pierwsze spotkanie, które ma na celu ustalenie
                        trudności/ zmagań Pacjenta oraz wyznaczenie placu
                        współpracy. Czas trwania - 60 minut.
                      </p>
                    </a>
                  </li>
                </ul>
              </td>
              <td class="col-2">
                <h2>250 zł</h2>
              </td>
            </tr>
            <tr class="row">
              <td class="col-10">
                <h2>Sesja psychoterapii - kolejne wizyty</h2>
                <ul>
                  <li>
                    <a>
                      <p>
                        Kolejne spotkanie stałych Pacjentów, którzy mają
                        wyznaczony plan współpracy. Czas trwania - 50 minut.
                      </p>
                    </a>
                  </li>
                </ul>
              </td>
              <td class="col-2">
                <h2>190 zł</h2>
              </td>
            </tr>
            <tr class="row">
              <td class="col-10">
                <h2>Konsultacja psychologiczna dla par - pierwsze spotkanie</h2>
                <ul>
                  <li>
                    <a>
                      <p>
                        Pierwsze spotkanie psychologa, terapeuty z Parą
                        Pacjentów. Ustalenie współpracy i planu działania.
                        Czas trwania - 130 minut.
                      </p>
                    </a>
                  </li>
                </ul>
              </td>
              <td class="col-2">
                <h2>250 zł</h2>
              </td>
            </tr>
            <tr class="row">
              <td class="col-10">
                <h2>Sesja psychoterapii dla par - kolejne wizyty</h2>
                <ul>
                  <li>
                    <a>
                      <p>
                        Jest to już kolejne spotkanie Pary, po ustaleniu planu
                        współpracy. Czas trwania - 120 minut.
                      </p>
                    </a>
                  </li>
                </ul>
              </td>
              <td class="col-2">
                <h2>190 zł</h2>
              </td>
            </tr>
            <tr class="row mb-5">
              <td class="col-10">
                <h2>Konsultacja psychologiczna dzieci i młodzieży - pierwsze spotkanie</h2>
                <ul>
                  <li>
                    <a>
                      <p>
                        Na pierwsze spotkanie zapraszamy wyłącznie rodziców w celu ustalenia tematów i planu współpracy.
                        Czas pierwszego spotkania to 60 minut. Kolejne wizyty, na które zgodnie z planem, przychodzi
                        Dziecko lub Dziecko z opiekunem, w zależności od poziomu koncentracji trwa od 40 do 50 minut.
                      </p>
                    </a>
                  </li>
                </ul>
              </td>
              <td class="col-2">
                <h2>190 zł</h2>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>