@import '../../../..//_theme/helpers/variables';

.checkbox {
  margin: 0;
  display: flex;
  .form-check-input {
    box-shadow: 0px 0px 11px 1px rgba($dark-gray, 0.3);
    border: 0;
    border-radius: 0.2rem;
    margin-top: 2px;
  }
  label {
    user-select: none;
    max-height: max-content;
    margin-left: 1rem;
    color: $dark-gray;
  }
}