
@import '../../../../_theme/helpers/variables';
.login-required-container {
  width: 100%;
  text-align: center;
  .login-required-image {
    max-width: 75%;
    margin: 1rem;
    border: 1px solid $primary;
    border-radius: 1rem;
    padding: 2rem;
  }
}
