@import "../../../../_theme/helpers/variables";

.message-container {
  margin: 0.5rem;

  &:hover {
    .reactions {
      ::ng-deep i {
        visibility: visible;
      }
    }

    .message-options {
      visibility: visible;
    }
  }

  .message-options {
    visibility: hidden;
  }

  .message {
    padding: 0.75rem;
    background-color: $white;
    border-radius: 1rem;
    color: $dark-gray;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    flex-wrap: wrap;
    word-break: break-word;
    border-bottom-left-radius: 0;
    box-shadow: 0px 0px 9px 1px rgba($dark-gray, 0.3);

    &.own-message {
      background-color: $green;
      color: $white;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 0;

      .message-content {
        .message-attachments {
          .btn-file {
            color: $black;
          }
        }
      }
    }

    .message-sender {
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .message-sender-info {
        margin-right: 2rem;
      }

      .message-date {
        font-size: 0.8rem;
      }
    }

    .message-content {
      .message-attachments {
        margin-top: 1rem;

        .btn-file {
          padding: 0;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .reactions {
    float: right;

    ::ng-deep i {
      visibility: hidden;
    }

    &.own-reactions {
      display: none;
    }
  }
}