@import '../../../_theme/helpers/variables';
::ng-deep  {
  .cal-event-container, .cal-time-events {
    overflow: hidden !important;
  }
  .cal-week-view {
    .cal-current-time-marker {
      display: none;
    }
    .cal-header.cal-today {
      background-color: $primary;
      color: $white;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

