<div class="contact">
  <div class="title">
    <h2 class="text-center">
      Umów się na terapię
    </h2>
  </div>
  <div class="info-panel">
    <ng-container *ngTemplateOutlet="contactInfo"></ng-container>
  </div>
  <div class="contact-container">
    <div class="container">
      <iframe frameborder="0" scrolling="no" allowtransparency="true" data-id="uuc3cnb5yk"
        src="//www.znanylekarz.pl/ajax/marketing/doctor/widget/big_with_calendar/ada-jakimowicz/null?customUtm=null&amp;id=uuc3cnb5yk&amp;header=null&amp;content=null&amp;fullwidth=null&amp;referer=http%3A%2F%2F"
        style="border: none; overflow: hidden; width: 100%; height: 750px"></iframe>
    </div>
  </div>
  <ng-template #contactInfo let-contact>
    <div class="contact-info">
      <label class="text-checkbox">
        <div class="checkbox">
          <mat-checkbox [checked]="true" disabled></mat-checkbox>
        </div>
        <div>
          Potwierdzam zapoznanie się z
          <a class="links" (click)="
          showRegulations('../../../../assets/files/terms_and_conditions.pdf')
        ">Regulaminem</a>
          oraz
          <a class="links" (click)="showRegulations('../../../../assets/files/privacy_policy.pdf')">Polityką Ochrony
            Danych
            MINT</a>. Potwierdzam rezerwację wybranej usługi oraz zobowiązuję się uiścić
          opłatę zgodnie z cennikiem.
        </div>
      </label>
      <h2>Kontakt</h2>
      <p>
        Mail: <a href="mailto:gabinet@mintmint.pl">gabinet@mintmint.pl</a>
      </p>
      <p>
        Telefon: <a href="tel:+48 605 994 708">+48 605 994 708</a>
      </p>
    </div>
  </ng-template>
</div>