<footer class="text-center text-lg-start">
  <section class="
      d-flex
      justify-content-center justify-content-lg-between bg-white">
    <ul class="eu-logos">
      <li><img src="../../../assets/images/eu-logos/1.png" alt="logo eu"></li>
      <li><img src="../../../assets/images/eu-logos/2.png" alt="logo eu"></li>
      <li><img src="../../../assets/images/eu-logos/3.png" alt="logo eu"></li>
      <li><img src="../../../assets/images/eu-logos/4.png" alt="logo eu"></li>
    </ul>
  </section>
  <section class="sectionFooter">
    <div class="content">
      <div class="content-top">
        <div class="logo-box">
          <img class="logoFooter" src="../../../assets/images/mint_logo_stopka_2.png" alt="logoFooter" routerLink="/" />
        </div>
        <div class="mexia-box">
          <ul>
            <li><a href=""><img class='icon' src="../../../assets/images/socialmedia/fb_icon.png" alt="fb"></a></li>
            <li><a href=""><img class='icon' src="../../../assets/images/socialmedia/insta_icon.png" alt="insta"></a>
            </li>
            <li><a href=""><img class='icon' src="../../../assets/images/socialmedia/linkedin_icon.png"
                  alt="linkedin"></a></li>
            <li><a href=""><img class='icon' src="../../../assets/images/socialmedia/znanyl_icon.png"
                  alt="znany lekarz"></a></li>
          </ul>
        </div>
        <div class="mess-info">
          <span class="text">Umów się na psychoterapię</span>
        </div>
        <div class="links">
          <ul>
            <li><a class="routingElement text" routerLink="/aboutUs">O nas</a></li>
            <li><a class="routingElement text" routerLink="/contact">Kontakt</a></li>
            <li><a class="routingElement text" routerLink="/aboutPsych">O psychoterapii</a></li>
            <li><a class="routingElement text" routerLink="/">Regulamin</a></li>
            <!-- <li><img class="knownDocIcon" src="../../../assets/images/znanyLekarzIcon.png" alt="graphic"/></li> -->
          </ul>
          <ul>
            <li><a class="routingElement text" routerLink="/priceList">Cennik</a></li>
            <li><a class="routingElement text" routerLink="/">RODO</a></li>
          </ul>
        </div>
      </div>
      <div class="content-bottom">
        <span class="text">Copyright © 2021 Mint App Sp. z o.o All rights reserved.</span>
      </div>

    </div>
  </section>
</footer>