@import '../../../_theme/helpers/variables';
.event {
  box-shadow: 0px 0px 6px 1px rgba($dark-gray, 0.3);
  border-radius: 0.3rem;
  background-color: $white;
  font-size: 14px;
  height: calc(100% - 10px);
  overflow: hidden;
  padding: 0.1rem;
  margin-bottom: 5px;
  border-left: 0.5rem solid $primary;
  &.past-event {
    color: rgba($gray, 0.7); 
  }
  &.active-event {
    background-color: $primary;
    color: $white;
    .event-title {
      color: $white;
    }
  }
  .event-title {
    color: $primary;
  }
  .event-title, .event-general-info {
    word-break: break-word;
  }
}

@media only screen and (max-width: 768px) {
  .event {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}