<div class="close d-flex justify-content-end mb-3">
    <button type="button" mat-button mat-dialog-close>Zamknij</button>
</div>

<mat-dialog-content>
    <div class="title">
        <p> {{ data.request.user.nickName }} <span
                *ngIf="data.request.user.firstName && data.request.user.lastName">({{data.request.user.firstName}}
                {{data.request.user.lastName}})</span> wysłał(a) prośbę o zostanie moderatorem</p>
    </div>
    <div class="content">
        <p>{{data.request.message}}</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="buttons">
        <button type="button" class="btn btn-danger" mat-button (click)="reject()">Odrzuć</button>
        <button type="submit" class="btn btn-primary" mat-button (click)="accept()">Zaakceptuj</button>
    </div>
</mat-dialog-actions>