@import "../../../../_theme/helpers/variables";
.post {
  display: flex;
  background-color: $white;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 8px 6px -6px grey;
  -moz-box-shadow: 0 8px 6px -6px grey;
  box-shadow: 0 8px 6px -6px grey;

  &.first-post {
    .title,
    .description {
      background-color: #d9ffee;
    }
  }

  &.is-user-post {
    border: 4px solid $green;
  }

  .title,
  .description {
    background-color: $mint-200;
  }
  .author,
  .content {
    padding: 1rem;
  }

  .author {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid $black;
    .name {
      font-weight: 500;
      cursor: pointer;
    }

    .photo {
      margin-top: 3rem;
      cursor: pointer;
      &:hover {
        box-shadow: 0 8px 6px -6px grey;
      }
    }
  }
  .content {
    width: 100%;
    .title,
    .description {
      padding: 1rem;
      word-break: break-word;
      border-radius: 1.5rem;
      -webkit-box-shadow: 0 8px 6px -6px grey;
      -moz-box-shadow: 0 8px 6px -6px grey;
      box-shadow: 0 8px 6px -6px grey;
    }

    .title {
      margin-bottom: 2rem;
    }

    .description {
      min-height: 10rem;
      .answer {
        word-break: break-word;
        margin-bottom: 1rem;
      }

      .quote-answer {
        font-style: italic;
        blockquote {
          padding: 1rem;
          background-color: $green;
        }
      }
    }

    .attachments {
      margin-top: 1rem;
      .btn-file {
        padding: 0;
        margin-right: 0.5rem;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      .reactions {
        margin-top: 1rem;
        .quote-button {
          margin-left: 1rem;
        }
      }
    }
  }

  .options {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    .comment-number {
      padding: 1rem 0;
    }
  }
}
