<section class="mt-3 vh-80 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-10">
          <h2 class="text-center mb-3">Psychoterapia poznawczo-behawioralna (ang. Cognitive-Behavioral Therapy CBT)</h2>
          <p class="mb-4">
            Terapia poznawczo-behawioralna to jedna z metod
            psychoterapeutycznych, która posiada naukowo dowiedzioną
            skuteczność w leczeniu wielu zaburzeń i problemów emocjonalnych.
            Wyróżnia się m. in.: <b>koncentracją na teraźniejszości oraz
              przyszłości</b>, ponieważ jej celem jest poprawa aktualnego i
            przyszłego funkcjonowania pacjenta. Terapia CBT jest <b>ograniczona w czasie</b> i zajmuje od kilkunastu do
            kilkudziesięciu spotkań raz w tygodniu po 50 minut każde. Ponadto
            <b>zorientowana jest na cel ustalony wspólnie przez pacjenta oraz
              psychoterapeutę</b> – celem może być usunięcie nieprzyjemnych objawów,
            zmiana dotychczasowego stylu życia, poprawa relacji z innymi
            ludźmi czy rozwój osobisty. W terapii CBT podkreśla się, że to <b>pacjent jest ekspertem</b> w
            dziedzinie własnych przeżyć i doświadczeń, a terapeuta jest
            ekspertem od mechanizmów powstawania i funkcjonowania danego
            problemu oraz zna techniki mogące pomóc w walce z nim. Tylko
            <b>współpraca</b> obu stron może doprowadzić do sukcesu, czyli
            rozwiązania problemu i zmniejszenia odczuwanego dyskomfortu.
            Warto również zauważyć, że CBT ma <b>charakter edukacyjny</b>, dzięki
            czemu pozwala pacjentowi rozwinąć umiejętności, które można
            wykorzystać do poradzenia sobie w trudnych sytuacjach. Podczas
            spotkań pacjent otrzymuje pełną psychoedukację na temat diagnozy
            oraz jej genezy, a także uczy się sposobów rozwiązywania
            problemów, poprawy swojego samopoczucia, radzenia sobie z lękiem i
            stresem, przytłaczającymi myślami co nawet po skończonej
            psychoterapii pozwoli mu stać się swoim własnym terapeutą.
          </p>
          <p class="mb-4">
            Każda sesja psychoterapii <b>ma określoną strukturę</b>. Podczas części wstępnej omówiony
            zostaje nastrój pacjenta, jego przeżycia i myśli z ostatniego tygodnia oraz wspólne ustalenie
            planu bieżącej sesji. Następnie przechodzi się do omówienia pracy osobistej z poprzedniej
            sesji, porusza się tematy zgłaszane do pracy na początku spotkania, a w części końcowej jest
            czas na podsumowanie oraz udzielenie informacji zwrotnych. Terapia poznawczobehawioralna oparta jest na
            wspólnym działaniu. Podczas sesji zaplanujesz razem z terapeutą
            ogólne oraz te bardziej szczegółowe cele, do których dążysz.
          </p>
          <p class="mb-4">
            Terapeuta poznawczobehawioralny będzie Twoim
            <b>przewodnikiem po zawiłym świecie emocji, myśli i zachowań</b>,
            ponieważ ekspertem od siebie jesteś Ty sam. Bardzo ważna dla skuteczności psychoterapii
            będzie Twoja <b>aktywność pomiędzy sesjami</b>, która stopniowo będzie Cię przybliżać do stania
            się swoim terapeutą.
          </p>
          <p class="mb-4">
            CBT opiera się na modelu poznawczym funkcjonowania człowieka, który zakłada, że nasze
            emocje, objawy fizjologiczne oraz zachowania powstają na skutek tego, jak postrzegamy
            konkretne zdarzenie. Interpretacja danej sytuacji, czyli proces nadawania znaczenia, ma
            wpływ na to, jak się zachowamy oraz jakie emocje wzbudzi w nas dane zdarzenie.</p>
          <p>W jakich zaburzeniach terapia poznawczo-behawioralna jest szczególnie skuteczna? Oto
            niektóre z nich:</p>
          <div class="row">
            <div class="col-8 mb-4">
              <ul class="ml-3">
                <li>
                  <a>
                    zaburzenia lękowe</a>
                </li>
                <li>
                  <a>napady paniki</a>
                </li>
                <li>
                  <a>depresja
                  </a>
                </li>
                <li>
                  <a>
                    zaburzenie afektywne dwubiegunowe [CHAD]</a>
                </li>
                <li>
                  <a>różnego rodzaju fobie, np.: agorafobia, klaustrofobia, fobia społeczna i inne</a>
                </li>
                <li>
                  <a>zaburzenia obsesyjno–kompulsyjne
                  </a>
                </li>
                <li>
                  <a>
                    zaburzenia adaptacyjne
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-4 mb-5">
              <ul>
                <li>
                  <a>ostra reakcja na stres</a>
                </li>
                <li>
                  <a>zespół stresu pourazowego (PTSD)</a>
                </li>
                <li>
                  <a>zaburzenia odżywiania
                  </a>
                </li>
                <li>
                  <a>problemy w relacjach z innymi ludźmi
                  </a>
                </li>
                <li>
                  <a>napady złości
                  </a>
                </li>
                <li>
                  <a>inne zaburzenia związane ze stresem
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
