.set-new-password-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .form {
    text-align: center;
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .set-new-password-container {
    .form {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .set-new-password-container {
    .form {
      width: 90%;
    }
  }
}
