<div class="page-title">Zmiana hasła</div>
<div class="set-new-password-container">
  <form *ngIf="!isPasswordChanged; else passwordChanged" [formGroup]="form" class="form" (submit)="setNewPassword()">
    <app-alert-message></app-alert-message>
    <app-input-text formControlName="password" [type]="hidePasswords[0] ? 'password' : 'text'"
      [icon]="hidePasswords[0] ? 'fas fa-eye-slash' : 'fas fa-eye'"
      [placeholder]="'Nowe Hasło (powinno zawierać minimum 6 znaków)'" autocomplete="new-password"
      (iconClicked$)="hidePasswords[0] = !hidePasswords[0]"></app-input-text>
    <app-input-text formControlName="confirmPassword" [type]="hidePasswords[0] ? 'password' : 'text'"
      [icon]="hidePasswords[1] ? 'fas fa-eye-slash' : 'fas fa-eye'" [placeholder]="'Powtórz nowe hasło'"
      autocomplete="new-password" (iconClicked$)="hidePasswords[1] = !hidePasswords[1]"></app-input-text>
    <button type="submit" [disabled]="form.invalid || isSending" class="btn btn-primary mt-2">Zatwierdź</button>
  </form>
</div>

<ng-template #passwordChanged>
  <div class="p-2">Hasło zostało zmienione.</div>
</ng-template>