<section class="text-container">

    <p><strong>Projekt MINT realizowany jest w ramach „Wsparcia prowadzenia prac B+R przez przedsiębiorstwa" Programu
            Operacyjnego Inteligentny Rozwój 2014-2020 współfinansowanego przez Narodowe Centrum Badań i Rozwoju z
            siedzibą
            w Warszawie. </strong></p>

    <p>Projekt zakłada opracowanie i wytworzenie innowacyjnej aplikacji mobilnej oraz serwisu internetowego, których
        celem
        będzie poprawa dobrostanu psychicznego użytkowników. Aplikacja i serwis internetowy skierowane będą do osób w
        wieku
        ponad 50 lat. </p>

    <p>Funkcjonalności aplikacji mobilnej oraz serwisu internetowego zoptymalizowane w toku projektu badawczego pozwolą
        na
        wstępną diagnozę potrzeb użytkowników, a automatyczne algorytmy oferować będą najlepiej dopasowane treści.</p>

    <p>Ważnym czynnikiem będzie też możliwość nawiązywania przez użytkowników
        nowych kontaktów i udział dyskusjach w ramach grup wsparcia, które będą nadzorowane przez wykwalifikowanych
        psychologów.</p>

    <p>W ramach projektu B+R prowadzone zostaną badania z zakresu optymalizacji narzędzi stanowiących pomoc
        psychologiczną i
        ich dopasowania do potrzeb użytkowników, co w konsekwencji pozwoli określić najbardziej skuteczne metody pomocy
        psychologicznej.</p>

    <p>Realizacja projektu badawczego z wykorzystaniem obiektywnych narzędzi psychologicznych do pomiaru dobrostanu
        psychicznego oraz własnych narzędzi badawczych opracowanych w toku projektu przyniesie również odpowiedź na
        pytanie
        o skuteczność opracowanego systemu. </p>

</section>

<section class="additional-text-container">
    <div class="additional-text">
        <p>Łączna kwota finansowania <br>wyniesie do:</p><span>1.089.840,00 PLN</span>
    </div>
    <div class="additional-text">
        <p>Łączna kwota wsparcia <br>Funduszy Europejskich:<br></p><span>871.872,00 PLN</span>
    </div>
</section>
<section class="button-container">
    <button mat-raised-button class="btn btn-link-add" name="logIn" routerLink="/landing-page/contact">
        Umów się na terapię
    </button>
</section>