<div class="change-password-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-title">
      Zmień hasło
    </div>
    <hr>
    <app-alert-message></app-alert-message>
    <app-input-text formControlName="currentPassword"
      [type]="!hidePasswords[0] || form.controls.currentPassword.value.length < 1 ? 'text' : 'password'"
      [icon]="hidePasswords[0] ? 'fas fa-eye-slash' : 'fas fa-eye'" [placeholder]="'Wprowadź stare hasło'"
      autocomplete="new-password" (iconClicked$)="hidePasswords[0] = !hidePasswords[0]"></app-input-text>
    <app-input-text formControlName="newPassword" [type]="hidePasswords[1] ? 'password' : 'text'"
      [icon]="hidePasswords[1] ? 'fas fa-eye-slash' : 'fas fa-eye'" [placeholder]="'Wprowadź nowe hasło'"
      autocomplete="new-password" (iconClicked$)="hidePasswords[1] = !hidePasswords[1]"></app-input-text>
    <app-input-text formControlName="confirmPassword" [type]="hidePasswords[2] ? 'password' : 'text'"
      [icon]="hidePasswords[2] ? 'fas fa-eye-slash' : 'fas fa-eye'" [type]="'password'"
      [placeholder]="'Wprowadź ponownie nowe hasło'" autocomplete="new-conf-password"
      (iconClicked$)="hidePasswords[2] = !hidePasswords[2]"></app-input-text>
    <button [disabled]="form.invalid || isSending" class="btn btn-primary" type="submit">Zapisz zmiany</button>
  </form>
</div>