<section class="about-us-section">
  <div class="title">
    <h2 class="text-center">
      Psychoterapia poznawczo-behawioralna (ang. Cognitive-Behavioral Therapy
      CBT)
    </h2>
  </div>
  <div class="text-area">
    <p>
      Terapia poznawczo-behawioralna to jedna z metod psychoterapeutycznych,
      która posiada naukowo dowiedzioną skuteczność w leczeniu wielu zaburzeń i
      problemów emocjonalnych. Wyróżnia się m. in.:
      <b>koncentracją na teraźniejszości oraz przyszłości</b>, ponieważ jej
      celem jest poprawa aktualnego i przyszłego funkcjonowania pacjenta.
      Terapia CBT jest <b>ograniczona w czasie</b> i zajmuje od kilkunastu do
      kilkudziesięciu spotkań raz w tygodniu po 50 minut każde. Ponadto
      <b>zorientowana jest na cel ustalony wspólnie przez pacjenta oraz
        psychoterapeutę</b>
      – celem może być usunięcie nieprzyjemnych objawów, zmiana dotychczasowego
      stylu życia, poprawa relacji z innymi ludźmi czy rozwój osobisty. W
      terapii CBT podkreśla się, że to <b>pacjent jest ekspertem</b> w
      dziedzinie własnych przeżyć i doświadczeń, a terapeuta jest ekspertem od
      mechanizmów powstawania i funkcjonowania danego problemu oraz zna techniki
      mogące pomóc w walce z nim. Tylko <b>współpraca</b> obu stron może
      doprowadzić do sukcesu, czyli rozwiązania problemu i zmniejszenia
      odczuwanego dyskomfortu. Warto również zauważyć, że CBT ma
      <b>charakter edukacyjny</b>, dzięki czemu pozwala pacjentowi rozwinąć
      umiejętności, które można wykorzystać do poradzenia sobie w trudnych
      sytuacjach. Podczas spotkań pacjent otrzymuje pełną psychoedukację na
      temat diagnozy oraz jej genezy, a także uczy się sposobów rozwiązywania
      problemów, poprawy swojego samopoczucia, radzenia sobie z lękiem i
      stresem, przytłaczającymi myślami co nawet po skończonej psychoterapii
      pozwoli mu stać się swoim własnym terapeutą.
    </p>
    <p>
      Każda sesja psychoterapii <b>ma określoną strukturę</b>. Podczas części
      wstępnej omówiony zostaje nastrój pacjenta, jego przeżycia i myśli z
      ostatniego tygodnia oraz wspólne ustalenie planu bieżącej sesji. Następnie
      przechodzi się do omówienia pracy osobistej z poprzedniej sesji, porusza
      się tematy zgłaszane do pracy na początku spotkania, a w części końcowej
      jest czas na podsumowanie oraz udzielenie informacji zwrotnych. Terapia
      poznawczobehawioralna oparta jest na wspólnym działaniu. Podczas sesji
      zaplanujesz razem z terapeutą ogólne oraz te bardziej szczegółowe cele, do
      których dążysz.
    </p>
    <p>
      Terapeuta poznawczobehawioralny będzie Twoim
      <b>przewodnikiem po zawiłym świecie emocji, myśli i zachowań</b>, ponieważ
      ekspertem od siebie jesteś Ty sam. Bardzo ważna dla skuteczności
      psychoterapii będzie Twoja <b>aktywność pomiędzy sesjami</b>, która
      stopniowo będzie Cię przybliżać do stania się swoim terapeutą.
    </p>
    <p>
      CBT opiera się na modelu poznawczym funkcjonowania człowieka, który
      zakłada, że nasze emocje, objawy fizjologiczne oraz zachowania powstają na
      skutek tego, jak postrzegamy konkretne zdarzenie. Interpretacja danej
      sytuacji, czyli proces nadawania znaczenia, ma wpływ na to, jak się
      zachowamy oraz jakie emocje wzbudzi w nas dane zdarzenie.
    </p>
    <p>
      W jakich zaburzeniach terapia poznawczo-behawioralna jest szczególnie
      skuteczna? Oto niektóre z nich:
    </p>
    <ul>
      <li>
        <a> zaburzenia lękowe</a>
      </li>
      <li>
        <a>napady paniki</a>
      </li>
      <li>
        <a>depresja </a>
      </li>
      <li>
        <a> zaburzenie afektywne dwubiegunowe [CHAD]</a>
      </li>
      <li>
        <a>różnego rodzaju fobie, np.: agorafobia, klaustrofobia, fobia
          społeczna i inne</a>
      </li>
      <li>
        <a>zaburzenia obsesyjno–kompulsyjne </a>
      </li>
      <li>
        <a> zaburzenia adaptacyjne </a>
      </li>
    </ul>
    <ul>
      <li>
        <a>ostra reakcja na stres</a>
      </li>
      <li>
        <a>zespół stresu pourazowego (PTSD)</a>
      </li>
      <li>
        <a>zaburzenia odżywiania </a>
      </li>
      <li>
        <a>problemy w relacjach z innymi ludźmi </a>
      </li>
      <li>
        <a>napady złości </a>
      </li>
      <li>
        <a>inne zaburzenia związane ze stresem </a>
      </li>
    </ul>

    <div class="title">
      <h2 class="text-center mb-3">Psychoterapia systemowa</h2>
    </div>
    <p>
      <b>Systemowe podejście</b> w psychoterapii wynika <b>m.in.</b> pojęcia
      systemu i jego właściwości. System jest złożonym tworem, który stanowi
      spójną całość, jest czymś więcej niż sumą elementów, które go tworzą.
      Systemem mogą być zarówno jednostki, jak i pary, rodziny czy większe
      społeczności. Każdy system dba o zachowanie swojej struktury, dąży do
      równowagi a poziom jego gotowości na zmiany, wynika z elastyczności
      systemu. Każdy system nadaje rzeczywistości indywidualne znaczenie.
      Znaczenie to wynika z jego osobistych doświadczeń i bardziej opisuje sam
      system niż zewnętrzną rzeczywistość.
    </p>
    <p>
      Spotkanie Pacjenta i terapeuty w podejściu systemowym, to spotkanie dwóch
      ekspertów , z których każdy wnosi wkład w relację terapeutyczną.
      <b>Pacjent jest ekspertem od swojego życia, posiada wiedzę, która stanowi
        treść terapii natomiast psychoterapeuta jest ekspertem, który wnosi
        narzędzia pozwalające na analizę tych treści i wypracowanie rozwiązań,
        które będą dla klienta optymalne.</b>
      Ważne, aby rozwiązania wypracowane w ramach współpracy terapeutycznej,
      uwzględniały kontekst przestrzeni społecznej i życiowej w jakiej
      funkcjonuje Pacjent.
    </p>
    <p>
      Ważnymi aspektami współpracy terapeutycznej jest
      <b>neutralna i pełna szacunku postawa terapeuty</b> wobec treści
      wnoszonych przez Pacjenta, zmiana oparta na różnicowaniu, zmiana języka
      opowieści o problemie, przeformułowanie, definiowanie funkcji objawów,
      zmiana kontekstu i nadawanie sensu. Skupienie na zasobach klienta, pozwala
      uwzględnić jego potencjał w wypracowywaniu nowych rozwiązań. Terapia
      systemowa doskonale sprawdza się w pracy zarówno indywidualnej, par jak i
      terapii rodzinnej. Spotkania odbywają się co dwa tygodnie, co daje czas na
      testowanie wprowadzanych rozwiązań w przestrzeń życiową Pacjenta.
    </p>

    <div class="title">
      <h2 class="text-center mb-3">Terapia Psychodynamiczna</h2>
    </div>
    <p>
      Jest to <b>forma terapii, która wywodzi się z psychoanalizy</b>. Zakłada,
      że ludzkim życiem rządzą nieuświadomione procesy, a objawy, które
      przynoszą cierpienie pacjentowi są efektem stłumionych, zepchniętych do
      nieświadomości popędów oraz konfliktów wewnętrznych między przeciwstawnymi
      sobie pragnieniami i motywami. Źródła tych konfliktów zazwyczaj upatruje
      się w relacjach z innymi we wczesnym dzieciństwie. Rozwiązanie tych
      konfliktów prowadzi do rozwoju i pełniejszej realizacji siebie i swojego
      potencjału oraz do poprawy w obrębie swoich relacji z innymi. Szereg badań
      klinicznych potwierdza skuteczność tej formy terapii w leczeniu większości
      zaburzeń psychicznych (m.in. zaburzeń lękowych, depresyjnych oraz zaburzeń
      osobowości), umożliwia również trwałą zmianę samopoczucia.
    </p>

    <p>
      Sesje odbywają się 1-2 razy w tygodniu przez 45 min.
      <b>Cel wyznaczany jest wspólnie przez pacjenta i terapeutę i może z czasem
        się zmieniać, w zależności od aktualnych potrzeb</b>.
    </p>
  </div>
</section>